body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid; /* alteração aqui */
    flex-direction: column; /* alteração aqui */
    justify-content: center; /* alteração aqui */
    align-items: center; /* alteração aqui */
    grid-template-areas:
    "top"
    "main"
    "footer";

    grid-template-rows: 50px 1fr 10px;
  }
  
  .top{
    grid-area: top;
    background-color: rgb(17, 0, 255);
    height: 50px;
    width: 100vw;
    overflow: hidden;
  }

  .main{
    height: 100vh;
    grid-area: main;
    display: flex;
    flex-direction: column; /* alteração aqui */
    justify-content: center; /* alteração aqui */
    align-items: center;
    background-color: brown;
    gap: 50px;
    padding: 50px;
  }
  
  #panel{
    background-color: aqua;
    height: 200px;
    width: 75vw;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    padding: 10px;
    
  }
  #panel h1 {
    margin: 0;
    height: inherit;
    width: inherit;
    font-size: 2vw;
  }
  
  #input{
    background-color: rgb(255, 0, 200);
    height: 50px;
    width: 50vw;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #input_box{
    height: inherit;
    width: inherit;
    max-width: 100vw;
    min-width: 300px;
    font-size: 20px;
  }

.footer{
    height: 50px;
    overflow: hidden;
    grid-area: footer;
    background-color: peru;
}

#panel span {
  margin-right: 10px; 
  font-size: 40px;
}